@charset "utf-8";
.top {
	background-image: url(../images/top_bj.png);
	background-repeat: repeat-x;
	height: 175px;
}
.top .top_970 {
	width: 970px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	height: 175px;
}
.top .top_970 .logo {
	float: left;
	padding-top: 14px;
}
.top .top_970 .top_right {
	width: 340px;
	margin-left: auto;
	padding-top: 100px;
}
.top .top_970 .top_right .i_s_d {
	overflow: hidden;
	height: 28px;
	line-height: 28px;
}
.top .top_970 .top_right .i_s_d span {
	background-image: url(../images/dian.png);
	display: block;
	background-repeat: no-repeat;
	float: left;
	padding-left: 10px;
	padding-right: 15px;
	background-position: 0px 13px;
}
.top .top_970 .top_right .i_s_d a {
	color: #31547f;
}
/*头部的搜索样式*/
.search_box {
	background-image: url(../images/search.png);
	background-repeat: no-repeat;
	height: 35px;
	width: 227px;
	margin-left: 100px;
}
.search_box input{
	border:0;
	background:none;
	display:inline-block;
	float:left;
}
.search_box  input.keywords{
	width:185px;
	color:#666;
	border: 1px none #FFFFFF;
	height: 25px;
	line-height: 25px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}
.search_box  input.rssclick{
	cursor:pointer;
	color:#fff;
	text-indent:-9999px;
	width:26px;
	height:35px;
	overflow:hidden;
	padding:0
}
/*导航样式*/
.nav_box{
	background-image: url(../images/nav_a.png);
	background-repeat: repeat-x;
	height: 40px;
}
.lanren{
	width:970px;
	height:40px;
	line-height:40px;
	margin:0 auto;
}
.lanren a{
	height:40px;
	line-height:40px;
	color:#fff;
	text-decoration:none;
	display:block;
	float:left;
	padding-top: 0px;
	padding-right: 24px;
	padding-bottom: 0px;
	padding-left: 24px;
	font-size: 14px;
	font-weight: bold;
}
.lanren .img_float {
	background-image: url(../images/nav_c.png);
	width: 2px;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 40px;
}

.lanren a:hover{
	text-decoration:none;
	background-image: url(../images/nav_b_hover.png);
}
.lanren a.thisclass{
	text-decoration:none;
	background-image: url(../images/nav_b_hover.png);
	font-weight: bold;
}
/*banner*/
.banner_index{
	height:300px;
	position: relative;
	overflow:hidden;
	width: 970px;
	margin-top: 15px;
	margin-right: auto;
	margin-bottom: 15px;
	margin-left: auto;
}
.banner_index .btn,.banner_pro .bBtn{
	position: absolute;
	top:110px;
	width: 56px;
	height: 78px;
	display: block;
	z-index: 3;
}
.banner_index .btnPre,.banner_pro .bPre{background: url(../images/bg_btnPre_index.png) no-repeat 0 0;left:20px;}
.banner_index .btnPre:hover,.banner_pro .bPre:hover{background: url(../images/bg_btnPre_index_hover.png) no-repeat 0 0;}
.banner_index .btnNext,.banner_pro .bNext{background: url(../images/bg_btnNext_index.png) no-repeat 0 0;right: 20px;}
.banner_index .btnNext:hover,.banner_pro .bNext:hover{background: url(../images/bg_btnNext_index_hover.png) no-repeat 0 0;}
.banner_index .banner_wrap{position: absolute;left:0px;top: 0px; z-index: 2;}
.banner_index .banner_wrap li{
	width: 970px;
	float: left;
}
.indexBanner_num{
	width:970px;
	text-align: center;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-right: 0;
	padding-bottom: 10px;
	padding-left: 0;
} 
.indexBanner_num a{width: 8px;height: 8px;display: inline-block;_zoom:1;background: url(../images/bg_num.png) no-repeat 0 0;font-size: 0px;line-height: 0px;margin:0 1px;}
.indexBanner_num a.on,.indexBanner_num a:hover{background: url(../images/bg_num_on.png) no-repeat 0 0;}
.content {
	width: 970px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}
.content2 {
	width: 970px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	margin-top: 15px;
	margin-bottom: 15px;
}
.content .left {
	float: left;
	width: 690px;
}
.content .left .left_box {
	border: 1px solid #d9d8d8;
	padding: 1px;
	margin-bottom: 15px;
}
.left_box_title {
	background-image: url(../images/index_001.png);
	background-repeat: repeat-x;
	line-height: 44px;
	height: 44px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e5e4e4;
}
.left_box_title h1 {
	font-size: 14px;
	line-height: 44px;
	color: #2f517c;
	font-weight: bold;
	float: left;
	padding-left: 10px;
}
.left_box_title span {
	display: block;
	float: left;
	padding-left: 10px;
	color: #999999;
}
.left_box_title .more {
	position: absolute;
	right: 10px;
	top: 0px;
}
.introduction {
	background-image: url(../images/index_002.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	height: 164px;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 180px;
}

.introduction h1 {
	font-size: 14px;
	font-weight: bold;
	color: #2F517C;
	margin-bottom: 10px;
}
.introduction p {
	margin-right: 180px;
	line-height: 24px;
	text-indent: 2em;
}
.float_btn {
	position: absolute;
	left: 20px;
	top: 25px;
	width: 120px;
}
.float_btn a{
	display: block;
	background-color: #2A64AB;
	margin-bottom: 5px;
	color: #FFF;
	padding-top: 7px;
	padding-right: 5px;
	padding-bottom: 7px;
	padding-left: 50px;
	border-radius:5px;
}
.float_btn a:hover{
	background-color: #CC3300;
	color: #FFF;
	border-radius: 5px;
	text-decoration: none;
}
.float_btn .icon_a1{
	background-image: url(../images/icon.png);
	background-repeat: no-repeat;
	background-position: 10px 5px;
}
.float_btn .icon_a2{
	background-image: url(../images/icon.png);
	background-repeat: no-repeat;
	background-position: 10px -32px;
}
.float_btn .icon_a3{
	background-image: url(../images/icon.png);
	background-repeat: no-repeat;
	background-position: 10px -72px;
}
.float_btn .icon_a4{
	background-image: url(../images/icon.png);
	background-repeat: no-repeat;
	background-position: 10px -112px;
}
.announcement {
	overflow: hidden;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
}.announcement .announcement_l {
	float: left;
	width: 300px;
}
/*新闻公告*/
#box{
	position:relative;
	width:300px;
	height:230px;
	margin-right: auto;
	margin-left: auto;
}
#box .bigUl{}
#box .prev{ position:absolute; width:40px; height:60px; background:url(../images/icon-focusimg-btn-png24-20131225.png) -44px -63px no-repeat; z-index:500; top:67px; left:0px; opacity:0; filter:alpha(opacity=0); cursor:pointer;}
#box .next{ position:absolute; width:40px; height:60px; background:url(../images/icon-focusimg-btn-png24-20131225.png) -74px -63px no-repeat; z-index:500; top:67px; right:0px; opacity:0; filter:alpha(opacity=0);cursor:pointer;}
.bigUl li { position:absolute;}
.numberUl {
	position:absolute;
	right:10px;
	bottom:37px;
	z-index:400
}
.numberUl li{
	width:24px;
	height:20px;
	float:left;
	opacity:0.7;
	margin-left:1px;
	background-color: #3d568f;
}
.numberUl li a{
	display:block;
	width:24px;
	height:20px;
	color:#fff;
	font-size:12px;
	text-align:center;
	line-height:20px;
	text-decoration: none;
}
#box .textUl li{
	position:absolute;
	bottom:0px;
	display:none;
}
#box .textUl li a{
	font-size:14px;
	font-family:"Microsoft Yahei";
	color:#333333;
}
.numberUl li.night a{
	background:#fef636;
	color:#333;
}
.announcement .announcement_r {
	width: 340px;
	margin-left: auto;
}
.announcement .announcement_r h1 {
	line-height: 40px;
	height: 40px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: #2a5790;
}
.announcement .announcement_r h1 a {
	color: #2F517C;
}
.announcement .announcement_r h1 a:hover {
	color: #2F517C;
	text-decoration: underline;
}


.announcement .announcement_r ul {
	padding: 10px;
}
.announcement .announcement_r li {
	line-height: 24px;
	height: 24px;
	padding-left: 15px;
	background-image: url(../images/three.png);
	background-repeat: no-repeat;
	background-position: 0px 9px;
}
.announcement .announcement_r li a {
	color: #333333;
}
.announcement .announcement_r li span {
	float: right;
}
.announcement .announcement_r li a:hover {
	color: #2F517C;
	text-decoration: underline;
}
.content .left .ad_690 {
	margin-bottom: 15px;
}
.content .left .left_box2 {
	margin-bottom: 15px;
	height: 250px;
}
.left_box2 .left_box2_l {
	padding: 1px;
	width: 332px;
	border: 1px solid #d9d8d8;
	float: left;
}
.l_b_l_t {
	background-image: url(../images/index_003.png);
	background-repeat: no-repeat;
	height: 32px;
}
.l_b_l_b {
	padding: 10px;
}
.l_b_l_b .li {
	background-image: url(../images/dian2.png);
	background-repeat: no-repeat;
	padding-left: 15px;
	background-position: 0px 9px;
	line-height: 24px;
	height: 24px;
}

.l_b_l_t .more{
	line-height: 32px;
	position: absolute;
	right: 10px;
}
.l_b_l_t h1 {
	float: left;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 10px;
}


.left_box2 .left_box2_2 {
	padding: 1px;
	width: 332px;
	border: 1px solid #d9d8d8;
	margin-left: auto;
}
.links {
	overflow: hidden;
	padding-top: 13px;
	padding-right: 15px;
	padding-bottom: 13px;
	padding-left: 15px;
}
.links a {
	padding-right: 10px;
	display: inline-block;
	line-height: 24px;
	color: #333333;
}
.links a:hover {
	padding-right: 10px;
	display: inline-block;
	line-height: 24px;
	color: #003399;
}
.content .right .left_box {
	border: 1px solid #d9d8d8;
	padding: 1px;
	margin-bottom: 15px;
}
.content .right {
	width: 264px;
	margin-left: auto;
}
.left_box_title h2 {
	font-size: 14px;
	line-height: 44px;
	color: #2f517c;
	font-weight: bold;
	padding-left: 50px;
	background-image: url(../images/icon_001.png);
	background-repeat: no-repeat;
	background-position: 10px 10px;
}
.login {
	height: 170px;
	padding: 12px;
}
.login .input {
	border: 1px solid #CCCCCC;
	color: #666666;
	background-image: url(../images/login.png);
	background-repeat: no-repeat;
	background-position: 0px 2px;
	float: left;
	padding-top: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 30px;
	width:130px;
}
.login .input1 {
	border: 1px solid #CCCCCC;
	color: #666666;
	background-image: url(../images/login.png);
	background-repeat: no-repeat;
	background-position: 0px -43px;
	float: left;
	padding-top: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 30px;
	width:130px;
}
.login .account .input:hover {
	border: 1px solid #0066CC;
}
.login .password .input1:hover {
	border: 1px solid #0066CC;
}
.login .account {
	height: 40px;
	overflow: hidden;
}
.login .password {
	height: 40px;
	margin-top: 5px;
	overflow: hidden;
}
.login .btn {
	padding-top: 5px;
	height: 45px;
	padding-left: 60px;
	overflow: hidden;
}
.login .btn .btn_a1:hover  {
	background-color: #CC3300;
	color: #FFFFFF;
	border-radius:5px;
	border: 1px none #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor:pointer;
}

.login .btn .btn_a1 {
	background-color: #2a64ab;
	color: #FFFFFF;
	border-radius:5px;
	border: 1px none #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 160px;
}
.login .input_txt {
	text-align: left;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 50px;
}
.login .input_txt a {
	padding-right: 10px;
	padding-left: 10px;
	color: #333333;
	font-size: 14px;
}
.login .input_txt a:hover    {
	color: #003399;
}


.login em {
	display: block;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 50px;
	text-align: right;
	font-size: 14px;
	padding-right: 10px;
}

.left_box_title h3 {
	font-size: 14px;
	line-height: 44px;
	color: #2f517c;
	font-weight: bold;
	padding-left: 50px;
	background-image: url(../images/icon_002.png);
	background-repeat: no-repeat;
	background-position: 14px 14px;
}
.service .service1 {
	color: #666666;
	background-image: url(../images/sever.png);
	line-height: 40px;
	height: 40px;
	background-repeat: no-repeat;
	padding-left: 40px;
	font-size: 14px;
	font-weight: bold;
	background-position: 0px 1px;
}
.service .service2 {
	color: #666666;
	background-image: url(../images/sever.png);
	line-height: 32px;
	height: 32px;
	background-repeat: no-repeat;
	font-size: 14px;
	font-weight: bold;
	background-position: 0px -39px;
	padding-top: 10px;
}
.service .service2 span {
	display: block;
	padding-left: 16px;
	width: 98px;
	float: left;
	text-align: center;
}
.service .service4 {
	color: #666666;
	background-image: url(../images/sever.png);
	line-height: 32px;
	height: 32px;
	background-repeat: no-repeat;
	font-size: 14px;
	font-weight: bold;
	background-position: 0px -39px;
	padding-top: 10px;
}
.service .service3 {
	color: #666666;
	background-image: url(../images/sever.png);
	line-height: 40px;
	height: 40px;
	background-repeat: no-repeat;
	padding-left: 40px;
	font-size: 14px;
	font-weight: bold;
	background-position: 0px -92px;
	margin-top: 10px;
}
.service .service4 span {
	display: block;
	padding-left: 16px;
	width: 98px;
	float: left;
	text-align: center;
}
.service {
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
}
.service .service5 {
	color: #666666;
	background-image: url(../images/sever.png);
	line-height: 40px;
	height: 40px;
	background-repeat: no-repeat;
	padding-left: 40px;
	font-size: 14px;
	font-weight: bold;
	background-position: 0px -184px;
	margin-top: 10px;
}
.service .service6 {
	color: #666666;
	background-image: url(../images/sever.png);
	line-height: 40px;
	height: 40px;
	background-repeat: no-repeat;
	padding-left: 40px;
	font-size: 14px;
	font-weight: bold;
	background-position: 0px -235px;
	margin-top: 10px;
}
.service .service7 {
	color: #666666;
	background-image: url(../images/sever.png);
	line-height: 40px;
	height: 40px;
	background-repeat: no-repeat;
	padding-left: 40px;
	font-size: 14px;
	font-weight: bold;
	background-position: 0px -286px;
	margin-top: 10px;
}
.service .service8 {
	color: #666666;
	background-image: url(../images/sever.png);
	line-height: 40px;
	height: 40px;
	background-repeat: no-repeat;
	padding-left: 40px;
	font-size: 14px;
	font-weight: bold;
	background-position: 0px -337px;
	margin-top: 10px;
}
.content .right .ad_265 {
	border: 1px solid #d9d8d8;
	padding: 1px;
	margin-bottom: 15px;
}
.left_box_title h4 {
	font-size: 14px;
	line-height: 44px;
	color: #2f517c;
	font-weight: bold;
	padding-left: 50px;
	background-image: url(../images/icon_003.png);
	background-repeat: no-repeat;
	background-position: 14px 12px;
}
.business {
	padding: 15px;
}
/* 多行滚动 */
#scrollDiv{
	height:150px;
	min-height:25px;
	line-height:25px;
	overflow:hidden
}
#scrollDiv li{
	height:25px;
	padding-left:15px;
	background-image: url(../images/dian2.png);
	background-repeat: no-repeat;
	background-position: 0px 10px;
}
.bot {
	background-color: #1c53a7;
	padding: 25px;
	text-align: center;
	color: #FFFFFF;
	line-height: 28px;
	margin-right: auto;
	margin-left: auto;
}
.bot a{color: #FFFFFF;}
/*会员注册*/
.reg_location{
	line-height: 40px;
	height: 40px;
	background-image: url(../images/reg_bj.png);
	background-repeat: repeat-x;
	margin-bottom: 15px;
	margin-top: 10px;
}
.reg_location h1 {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #2c83ea;
	float: left;
	line-height: 38px;
	font-size: 14px;
	font-weight: bold;
	padding-right: 15px;
	padding-left: 15px;
}
.reg_location .location {
	margin-left: auto;
	width: 400px;
	text-align: right;
}
.reg_box {
	margin-bottom: 15px;
	padding: 15px;
	border: 1px solid #dedede;
}
.reg_box .reg_b_ts {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 15px;
}
.reg_box .reg_b_ts h1 {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	width: 100px;
	margin-right: auto;
	background-color: #e5716d;
	text-align: center;
	padding: 10px;
	border-radius:5px 5px 0px 0px;
}
.reg_box .reg_b_ts .reg_b_ts_b {
	border: 2px solid #E5716D;
	padding: 15px;
	background-color: #fdffe7;
}
.reg_box .reg_b_ts .reg_b_ts_b p {
	line-height: 32px;
	font-size: 14px;
	color: #333333;
}
.reg_box .reg_b_ts .reg_b_ts_b h2 {
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	line-height: 35px;
}
.reg_box .zl_title {
	line-height: 40px;
	margin-bottom: 15px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #D7D7D7;
	font-size: 14px;
	color: #333333;
}
.reg_box .zl_box {
	padding: 30px;
}
.reg_box .zl_box .li {
	overflow: hidden;
	line-height: 40px;
	padding-bottom: 15px;
}
.reg_box .zl_box .li2 {
	overflow: hidden;
	line-height: 40px;
	font-size: 14px;
	background-color: #F7F7F7;
	margin-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EFEFEF;
	text-align: center;
}
.reg_box .zl_box .li .span {
	width: 170px;
	display: block;
	font-size: 14px;
	padding-right: 5px;
	text-align: right;
	float: left;
}
.reg_box .zl_box .li .span1 {
	width: 245px;
	display: block;
	font-size: 14px;
	padding-right: 10px;
	text-align: right;
	float: left;
}
.reg_box .zl_box .li .span2 {
	width: 500px;
	display: block;
	font-size: 14px;
	padding-right: 10px;
	text-align: right;
	float: left;
}
.reg_box .zl_box .li .input {
	float: left;
	border: 1px solid #d1d1d1;
	padding: 5px;
	font-size: 14px;
	color: #000066;
}
.reg_box .zl_box .li em {
	padding-left: 10px;
	float: left;
	padding-right: 10px;
	color: #999;
	font-size: 12px;
}
.reg_box .zl_box .li .btn_box {
	float: left;
	padding-right: 300px;
	padding-left: 300px;
}
.reg_box .zl_box .li .btn_box .tj {
	width: 250px;
	padding: 10px;
	background-color: #1C53A7;
	font-size: 18px;
	color: #FFFFFF;
	border: 1px none #FFFFFF;
	border-radius:5px;
	cursor:pointer;
	opacity:1;
filter(alpha=100);}
.reg_box .zl_box .li .btn_box .tj:hover {
	width: 250px;
	padding: 10px;
	background-color: #E5716D;
	font-size: 18px;
	color: #FFFFFF;
	border: 1px none #FFFFFF;
	border-radius:5px;
	cursor:pointer;
filter(alpha=50);
}
.reg_ok {
	margin-bottom: 15px;
	padding-top: 50px;
	padding-right: 250px;
	padding-bottom: 50px;
	padding-left: 250px;
}
.reg_ok  h1 {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	width: 100px;
	margin-right: auto;
	background-color: #1f71ca;
	text-align: center;
	padding: 10px;
	border-radius:5px 5px 0px 0px;
}
.reg_ok .reg_b_ts_b {
	border: 2px solid #1F71CA;
	padding-top: 30px;
	padding-right: 50px;
	padding-bottom: 50px;
	padding-left: 200px;
	background-image: url(../images/reg_ok.png);
	background-repeat: no-repeat;
	background-position: 50px;
}
.reg_ok .reg_b_ts_b h2 {
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	line-height: 35px;
}
.reg_ok .reg_b_ts_b p {
	line-height: 30px;
	font-size: 14px;
	color: #333333;
}
.reg_ok .reg_b_ts_b .btn_box {
	padding: 10px;
}
.reg_ok .reg_b_ts_b .btn_box .btn_login {
	background-color: #FF3300;
	color: #FFFFFF;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
	border-radius:10px;
	cursor:pointer;
}

/*二级样式*/
.list_left {
	width: 220px;
	float: left;
}
.list_left .list_lm {
	width: 220px;
	background-image: url(../images/about_title.png);
	background-repeat: no-repeat;
	height: 44px;
}
.list_left .list_lm h1 {
	line-height: 44px;
	padding-left: 40px;
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
}
.list_left .list_box_b {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #bfdbf5;
	border-bottom-color: #bfdbf5;
	border-left-color: #bfdbf5;
	background-color: #f5fbff;
	margin-bottom: 15px;

}
.left_nav {
	padding: 10px;

}
ul#menu, ul#menu ul {
	list-style-type:none;
	margin: 0;
	padding: 0;
	width: 198px;
}
ul#menu a {
	display: block;
	text-decoration: none;
}
ul#menu li {
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #BFDBF5;
	line-height: 24px;
}
ul#menu li.no {
	border-bottom-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #F5FBFF;
}

ul#menu li a {
	color: #4d4d4d;
	text-align: left;
	background-image: url(../images/list_b.png);
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	background-position: 10px 14px;
	display: block;
}

ul#menu li.current-cat a {
	background-image: url(../images/list_a.png);
	background-repeat: no-repeat;
	font-weight: bold;
	color: #017AE6;
}

ul#menu li a:hover {
	background-image: url(../images/list_a.png);
	background-repeat: no-repeat;
	font-weight: bold;
	color: #017AE6;
}
ul#menu li ul li a {
	color: #2c2c2c;
	font-weight: normal;
}
ul#menu li ul li a:hover {
	padding-left: 15px;
	background-image: url(../images/list_a.png);
	background-repeat: no-repeat;
}
.list_left .list_contus {
	padding: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #cfcece;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	background-image: url(../images/co_bj.png);
}
.list_left .list_contus_l {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #BFDBF5;
	font-size: 14px;
	color: #666666;
	background-image: url(../images/list_cou.png);
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 60px;
	background-position: 10px;
	line-height: 25px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #BFDBF5;
	border-left-color: #BFDBF5;
}
.list_left .list_contus_l em {
	display: block;
}

.list_left .list_contus_c {
	font-size: 14px;
	color: #767374;
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 60px;
	background-position: 10px;
	line-height: 25px;
	background-image: url(../images/map.png);
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #BFDBF5;
	border-bottom-color: #BFDBF5;
	border-left-color: #BFDBF5;
}
.list_left .list_ad {
	border: 1px solid #BFDBF5;
	padding: 1px;
	margin-bottom: 15px;
}
.list_left .list_ad img {
	width: 216px;
}
.list_right {
	width: 730px;
	margin-left: auto;
}
.list_right .location {
	padding: 10px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #0E81E7;
	margin-bottom: 15px;
}
.list_right .list_box {
	border: 1px solid #dedede;
}
.list_right .list_box .list_box_l2 {
	padding: 10px;
}
.list_right .list_box .list_box_l2 .text h3 {
	padding: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 15px;
}

.list_right .list_box .list_box_l2 .d_title {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	padding: 10px;
}
.list_right .list_box .list_box_l2 .d_title h2 {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: #003399;
	line-height: 40px;
	height: 40px;
}
.list_right .list_box .list_box_l2 .d_title h3 {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: #cc0000;
	line-height: 40px;
	height: 40px;
}
.list_right .list_box .list_box_l2 .d_title em {
	padding: 10px;
	text-align: center;
	color: #666666;
	display: block;
}

.list_right .list_box h1 {
	padding: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	background-color: #F5FBFF;
}
.list_right .list_box .list_box_l2 .text {
	padding: 15px;
	font-size: 14px;
	line-height: 28px;
	color: #333333;
}
.list_right .list_box .list_box_l2 .text .div {
	padding: 10px;
}

.list_box_l2 .pic {
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	height: 750px;
}
.list_box_l2 .pic .dl {
	float: left;

}
.list_box_l2 .pic .dl dd {
	text-align: center;
	line-height: 30px;
	height: 30px;
}
.list_box_l2 .pic .dl a {
	color: #003399;
	font-size: 14px;
}

.list_box_l2 .pic .dl img {
	padding: 1px;
	border: 3px solid #CCCCCC;
	height: 190px;
	width: 190px;
	margin-top: 10px;
	margin-right: 18px;
	margin-bottom: 10px;
	margin-left: 18px;
}


.list_right .list_box .list_box_l2 .text .d_pic {
	margin-right: auto;
	margin-left: auto;
	width: 450px;
	text-align: center;
}
.list_box_l2 .text .d_pic img {
	border: 1px solid #CCCCCC;
	padding: 1px;
}
.list_right .list_box .list_box_l2 .text p {
	text-indent: 2em;
	margin-bottom: 15px;
}
.list_right .list_box2 {
	border: 1px solid #bfd5ea;
	padding: 1px;
}
.list_right .list_box2 .page {
	padding: 20px;
	text-align: center;
}

.list_right .list_box2 h1 {
	height: 26px;
	line-height: 26px;
	font-size: 14px;
	color: #333333;
	font-weight: bold;
	padding: 10px;
	background-image: url(../images/list_t_bj.png);
	background-repeat: repeat-x;
}
.list_right .list_box2 .ul {
	padding: 10px;
}
.list_right .list_box2 .ul li {
	line-height: 40px;
	height: 40px;
	padding-left: 15px;
	background-image: url(../images/dian3.png);
	background-repeat: no-repeat;
	background-position: 0px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #DFDFDF;
}
.list_right .list_box2 .ul a {
	font-size: 14px;
	color: #666666;
}
.list_right .list_box2 .ul li span {
	float: right;
}
.list_right .list_box2 .ul a:hover {
	font-size: 14px;
	color: #FF3300;
}
/*忘记密码*/
.forget .forget_a {
	height: 36px;
	line-height: 36px;
	background-image: url(../images/forget_icon.png);
	background-repeat: no-repeat;
	overflow: hidden;
	width: 846px;
	margin-right: auto;
	margin-left: auto;
}
.forget .forget_a span {
	display: block;
	float: left;
	width: 282px;

}
.forget .forget_a span .a1 {
	padding-left: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;

}
.forget .forget_a  span  .a2 {
	padding-left: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #666666;
}
.forget {
	margin-right: auto;
	margin-left: auto;
	padding-top: 70px;
	padding-right: 60px;
	padding-bottom: 100px;
	padding-left: 60px;
}
.forget .ul {
	overflow: hidden;
	padding-top: 50px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 200px;
}
.forget .ul .li {
	overflow: hidden;
	line-height: 40px;
	height: 40px;
	padding-bottom: 15px;
}
.forget .ul .li .span {
	width: 90px;
	display: block;
	font-size: 14px;
	padding-right: 10px;
	text-align: right;
	float: left;
}
.forget .ul .li .input {
	float: left;
	border: 1px solid #d1d1d1;
	padding: 9px;
	font-size: 14px;
	color: #1C53A7;
}
.forget .ul .li em {
	padding-left: 10px;
	color: #666666;
	font-size: 14px;
}
.forget .ul .li .btn_box {
	float: left;
	padding-left: 100px;
}
.forget .ul .li .btn_box .btn_next {
	width: 220px;
	padding: 10px;
	background-color: #1C53A7;
	font-size: 18px;
	color: #FFFFFF;
	border: 1px none #FFFFFF;
	border-radius:5px;
}
.forget .ul .li .btn_box .btn_next:hover {
	width: 220px;
	padding: 10px;
	background-color: #E5716D;
	font-size: 18px;
	color: #FFFFFF;
	border: 1px none #FFFFFF;
	border-radius:5px;
	cursor:pointer;
filter(alpha=50);
}
.forget .forget_mail {
	padding-top: 20px;
	padding-bottom: 15px;
	padding-left: 70px;
	background-image: url(../images/right.png);
	background-repeat: no-repeat;
	margin-top: 50px;
	width: 350px;
	margin-right: auto;
	margin-left: auto;
	background-position: 0px;
}
.forget .forget_mail span {
	display: block;
	line-height: 28px;
	height: 28px;
	font-size: 14px;
}
.forget .forget_mail span a {
	color: #FF0000;
	text-decoration: underline;

}
.forget .forget_b {
	height: 36px;
	line-height: 36px;
	background-image: url(../images/forget_icon.png);
	background-repeat: no-repeat;
	overflow: hidden;
	width: 846px;
	margin-right: auto;
	margin-left: auto;
	background-position: 0px -64px;
}
.forget .forget_b span {
	display: block;
	float: left;
	width: 282px;
}
.forget .forget_b span .a1 {
	padding-left: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #666666;
}
.forget .forget_b span .a2 {
	padding-left: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}
.forget .forget_c {
	height: 36px;
	line-height: 36px;
	background-image: url(../images/forget_icon.png);
	background-repeat: no-repeat;
	overflow: hidden;
	width: 846px;
	margin-right: auto;
	margin-left: auto;
	background-position: 0px -124px;
}
.forget .forget_c span {
	display: block;
	float: left;
	width: 282px;
}
.forget .forget_c span .a1 {
	padding-left: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #666666;
}
.forget .forget_c span .a2 {
	padding-left: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}
.forget .forget_mail .btn_box .member {
	width: 120px;
	padding: 10px;
	background-color: #1C53A7;
	font-size: 14px;
	color: #FFFFFF;
	border: 1px none #FFFFFF;
	border-radius:5px;
	cursor:pointer;
}
.forget .forget_mail .btn_box {
	padding-top: 20px;

}
.forget .forget_mail .btn_box .main {
	width: 120px;
	padding: 10px;
	background-color: #E4E4E4;
	font-size: 14px;
	color: #666666;
	border: 1px none #FFFFFF;
	border-radius:5px;
	cursor:pointer;
}
