@charset "utf-8";
/* CSS Document */

body {
	background-image: url(../images/bj.png);
	background-repeat: no-repeat;
	background-color: #ededed;
}

html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,big,cite,code,del,em,font,img,ins,small,strong,var,b,u,i,center,dl,dt,dd,p,ol,ul,li,fieldset,form,label,legend{margin:0;padding:0;border: 0;}
p,ol,ul,li{list-style:none}
 header, footer, article, section, nav, menu, hgroup {display: block;}
 h6 {font-size:100%;font-weight:normal;}
 h5 {font-size:100%;font-weight:normal;}
 h4 {font-size:100%;font-weight:normal;}
 h3 {font-size:100%;font-weight:normal;}
 h2 {font-size:100%;font-weight:normal;}
 h1 {font-size:100%;font-weight:normal;}
@media (min-width:750px){.container{
	width: 480px
}}@media (min-width:992px){.container{
	width: 750px
}}@media (min-width:1200px){.container{
	width: 1200px
}}

.aboutbj {
	padding: 20px;
	max-height:100%;
}
.aboutbj .title {
	overflow: hidden;

}
.aboutbj .title h1 {
	background-color: #ff6009;
	float: left;
	padding-top: 5px;
	padding-right: 30px;
	padding-bottom: 5px;
	padding-left: 30px;
	font-family: "microsoft yahei";
	color: #FFF;
	border-radius: 20px;
}
.aboutbj p {
	font-family: "微软雅黑";
	font-size: 14px;
	padding-top: 20px;
	text-indent: 2em;
	line-height: 28px;
	color: #333;
}



header {
	height: 60px;
	background-color: #F8F8F8;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dadada;
	background-image: url(../images/top_bj.png);
	background-repeat: no-repeat;
	background-position: right;
}
.logo {
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	height: 60px;
}
